div{
    position: absolute;
    bottom: 40vh;
    left: 35vw;
    z-index: 5;
    background-color: rgba(128, 128, 128, 0.526);
    align-items: center;
    text-align: center;

    width: 40vw;
    height: 45vh;

    overflow: visible;
}

button{
    padding: 20px;
    margin: 10px;
}


.message{
  z-index: 10;
  text-align: center;
  font-family: cursive;
  text-decoration: underline;
}
.message.game-over{
  color: red;
}

.message.game-paused{
  color: blue;
}

p{
  padding: 25px;
  text-align: center;
}