
    <!-- Stopped game messages -->
    @if(gameEnded()){
        <div>
            <h1 class="message game-over">Game Over!</h1>
            <button (click)="restartGame()">Play Aagain</button>
        </div>
    }@else if(gameIsPaused()){
        <div>
            <h1 class="message game-paused">Game Paused!</h1>
            <button (click)="gameIsPaused.set(false)">Resume Game</button>
            <p>Disclaimer: This fan game is not by Artix Entertainment(AE) and I am not related to AE in any way</p>
        </div>
    } 

