.head{
    display: inline;
}

.title{
    width: 100vw;
    background-color: antiquewhite;
    align-items: flex-start;
    display: inline;
    padding: 5px;
}

span{
    margin-right: 3vw;
    margin-left: 2vw;
}

button{
    background-color: blanchedalmond;
}

.lives{
    color: rgb(226, 11, 140);
}