.head{
    display: inline;
}

.title{
    width: 100vw;
    background-color: antiquewhite;
    align-items: flex-start;
    display: inline;
    padding: 5px;
    margin-right: 5px
}

span{
    margin-right: 3vw;
    margin-left: 2vw;
}


.lives{
    display: inline-block;
    min-width: 150px;
    color: rgb(226, 11, 140);
    text-align: left;
    margin-left: 10px;
}


.dropdown {
  position: relative;
  display: inline;
  color: #04AA6D;
}
.dropdown-content {
  z-index: 1;
  display: none;
  position: absolute;
  color: #04AA6D;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}