.head{
    display: inline;
}

.title{
    width: 100vw;
    background-color: antiquewhite;
    align-items: flex-start;
    display: inline;
    padding: 5px;
    margin-right: 5px
}

span{
    margin-right: 3vw;
    margin-left: 2vw;
}

button {
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button:disabled {
  background-color: grey;
  cursor: not-allowed;
  box-shadow: none;
  transform: translateY(0);
}


.lives{
    display: inline-block;
    min-width: 150px;
    color: rgb(226, 11, 140);
    text-align: left;
    margin-left: 10px;
}


.dropdown {
  position: relative;
  display: inline;
  color: #04AA6D;
}
.dropdown-content {
  z-index: 1;
  display: none;
  position: absolute;
  color: #04AA6D;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}