.board-container {
    position: relative;
    overflow: hidden;

    height: 90vh;
    width: 95vw;
    min-width: 500px;
    min-height: 400px;
    background-color: #f0f0f0;
    border-bottom: black 4px solid;
}

.player{
    position: absolute; /*Important for movement*/
    bottom: 0;
    height: 10vh;
    width: 5vw;
    background-color: #3498db;
    border-radius: 50%;
}


.falling-item{
    position: absolute;
    top:0;
    border-radius: 10%;
}

.falling-item.good {
  background-color: green;
}

.falling-item.death  {
  background-color: red;
  box-shadow: 0 0 30px 10px rgba(255, 0, 0, 0.7);


}


.falling-item.golden {
  background-color: gold;
}

.falling-item.lose-life {
  background-color: rgb(255, 0, 72);
}
.game-over{
  color: red;
  text-align: center;
  font-family: cursive;
  text-decoration: underline;
}

.game-paused{
  text-align: center;
  font-family: cursive;
  text-decoration: underline;
  color: blue;
}