.board-container {
    position: relative;
    overflow: hidden;

    height: 90vh;
    width: 95vw;
    min-width: 500px;
    min-height: 400px;
    background-color: #f0f0f045;
    background-image: url("/assets/images/elisavetkoritsimou.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: black 4px solid;
}

.player{
    position: absolute; /*Important for movement*/
    bottom: 0;
    height: 12vh;
    width: 5vw;
    min-width: 40px;
    min-height: 50px;
    background-color: #4cecfeb7;
    border-radius: 50% 50% 30% 50%;
    overflow: visible;
}

.player-image {
  position: absolute;

  /* anchor to bottom center of hitbox */
  bottom: 0;
  left: 60%;
  transform: translateX(-50%);

  /* visual size (can exceed hitbox) */
  height: 20vh;
  width: 10vw;
  min-width: 50px;
  min-height: 60px;

  background-image: url('/assets/images/sworupwo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;

  pointer-events: none; /* important for clean input */
}



.falling-item{
    position: absolute;
    top:0;
    border-radius: 10%;
}

.falling-item.good {
  background-color: rgb(0, 0, 243);
}

.falling-item.death  {
  background-color: red;
  box-shadow: 0 0 30px 10px rgba(255, 0, 0, 0.7);
  background-image: url("/assets/images/skull-solid.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;

}


.falling-item.golden {
  background-color: gold;
  box-shadow: 0px -5px 10px 10px #eedb3580;
  background-image: url("/assets/images/star.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.falling-item.lose-life {
  background-color: rgb(255, 0, 72);
  background-image: url("/assets/images/heart_broken.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.falling-item.gain-life{
  background-color: rgb(255, 0, 247);
  background-image: url("/assets/images/heart-solid-full.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.falling-item.remove-lose-life{
  background-color: rgb(233, 121, 230);
  background-image:  url("/assets/images/block.svg"), url("/assets/images/heart_broken.svg");
  background-repeat: no-repeat;
  background-position: center;
}

